<!DOCTYPE html public>
<html data-ng-app="gauth">
	<head>
		<title>GAuth Authenticator</title>
		<meta charset="utf-8">
		<meta name="description" content="GAuth Authenticator">
		<meta name="HandheldFriendly" content="True">
		<meta http-equiv="cleartype" content="on">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<!-- purposely at the top -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
		<script src="https://s3-us-west-2.amazonaws.com/oei.io/assets/javascripts/jssha/1.42/sha1.js.gz"></script>
		<script src="js/code.js"></script>
	</head>
	<body data-ng-controller="MainController">

		<div data-role="page" id="keys" data-theme="a">
			<div data-role="header">
				<h1>Google Authenticator</h1>
			</div>

			<div data-role="content">
        Updating in {{updatingIn}}
				<ul data-role="listview" data-inset="true" data-theme="a" data-split-theme="b" data-split-icon="delete">
					<!-- header -->
					<!-- repeater -->
					<li data-ng-repeat="account in accountKeys">
						<a href="#" data-ng-click="showAccount($index);">{{account.name}}: {{account.key}}</a>
						<a href="#" data-ng-click="deleteAccount($index);">Delete</a>
					</li>
				</ul>
			</div>

		</div>

		<div data-role="dialog" id="settings" data-theme="a">
			<div data-role="content">
				<p>
					<form novalidate>
						<label for="keyAccount">Account name:</label>
						<input id="keyAccount" type="text" data-ng-model="$parent.newAccount.name" value="" autocorrect="off" autocapitalize="off" required />
						<label for="keySecret">Secret key:</label>
						<input id="keySecret" type="text" data-ng-model="$parent.newAccount.secret" value="" autocorrect="off" autocapitalize="off" required />
					</form>
				</p>
				<p>
					<div data-role="controlgroup" data-type="horizontal">
						<a href="#" data-role="button" data-theme="a" data-ng-click="addAccount()">Add</a>
						<a href="#" data-role="button" data-theme="a" data-ng-click="resetAccount()">Cancel</a>
					</div>
				</p>
			</div>
		</div>

	</body>
</html>
